@model Nbugs.OperationApp.Models.System.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
</head>
<body>
    <div>
        <table class="fromEditTable setTextWidth300">
            <tbody>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Id)：
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.Id)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.LoginName)：
                    </td>

                    <td>
                        @Html.DisplayTextFor(model => model.LoginName)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Name)：
                    </td>

                    <td>
                        @Html.DisplayTextFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Mobile)：
                    </td>

                    <td>
                        @Html.DisplayTextFor(model => model.Mobile)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Pwd)：
                    </td>

                    <td>
                        @Html.DisplayTextFor(model => model.Pwd)
                    </td>
                </tr>

                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.QQ)：
                    </td>

                    <td>
                        @Html.DisplayTextFor(model => model.QQ)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.Email)：
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right;">
                        @Html.LabelFor(model => model.CreateTime)：
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.CreateTime)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>