@model Nbugs.OperationApp.Models.System.User

@{
    ViewBag.Title = "修改";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            var validate = $("#EditForm").form('validate');

            if (validate == false) {

                return false;

            }
            $.ajax({
                url: "/Account/Edit",
                type: "Post",
                data: $("#EditForm").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        window.parent.frameReturnByMes("修改成功");
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose();
                    }
                    else {
                        window.parent.frameReturnByMes("修改失败");
                    }
                }
            });
        });
    });
</script>

<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain">
        <span class="l-btn-left">
            <span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span>
        </span>
    </a>
</div>
@using (Html.BeginForm("Edit", "Account", null, FormMethod.Post, new { Id = "EditForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.LoginName)：
                </td>
                <td>
                    <input class="easyui-validatebox" type="text" name="LoginName" value=@Model.LoginName
                           data-options="required:true,validType:'length[1,160]'">
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td>
                    @Html.HiddenFor(model=>model.Id)
                    @Html.HiddenFor(model=>model.CreateTime)
                    <input class="easyui-validatebox" type="text" name="Name" value=@Model.Name
                           data-options="required:true,validType:'length[1,160]'">
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Mobile)：
                </td>

                <td>
                    @Html.EditorFor(model => model.Mobile)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Mobile)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Pwd)：
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Pwd)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Pwd)
                </td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.QQ)：
                </td>

                <td>
                    @Html.EditorFor(model => model.QQ)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.QQ)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Email)：
                </td>
                <td>
                    <input class="easyui-validatebox" type="text" name="Name"
                          value=@Model.Email data-options="validType:'email'">
                </td>
            </tr>
        </tbody>
    </table>
}