@model Nbugs.OperationApp.Models.System.Module

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}

<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain">
        <span class="l-btn-left">
            <span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span>
        </span>
    </a>
    <a id="btnReturn" class="l-btn l-btn-plain">
        <span class="l-btn-left">
            <span class="l-btn-text icon-return" style="padding-left: 20px;">返回</span>
        </span>
    </a>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreateUser)
    @Html.HiddenFor(model => model.CreateTime)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Name)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ParentId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ParentId)
                </td>
                <td>
                    <span>
                        0为根目录
                    </span>@Html.ValidationMessageFor(model => model.ParentId)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Url)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Url)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Url)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Icon)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Icon)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Icon)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Sort)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Sort)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Sort)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Remark)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Remark)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Remark)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Enable)：
                </td>
                <td style="width:310px">
                    @Html.CheckBoxFor(model => model.Enable, new { @checked = true })
                </td>
                <td>@Html.ValidationMessageFor(model => model.Enable)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.IsLast)：
                </td>
                <td style="width:310px">
                    @Html.CheckBoxFor(model => model.IsLast, new { @checked = true })
                </td>
                <td>@Html.ValidationMessageFor(model => model.IsLast)</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            if ($("form").valid()) {
                $.ajax({
                    url: "@Url.Action("Create")",
                    type: "Post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.ReloadById($('#ParentId').val());
                            window.parent.frameReturnByClose();
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>